# Ignorar qualquer pasta target em qualquer lugar do projeto
target/

# Pasta de build do Maven
target/

# Configurações privadas do NetBeans
nbproject/private/
nb-configuration.xml

# Arquivos temporários
*.log
*.tmp
*.bak